In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from random import randrange, uniform
pd.set_option('display.max_columns',None)

In [2]:
ride_share_df = pd.read_csv("rideshare_kaggle.csv")
ride_share_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           693071 non-null  object
 1   timestamp                    693071 non-null  float64
 2   hour                         693071 non-null  int64
 3   day                          693071 non-null  int64
 4   month                        693071 non-null  int64
 5   datetime                     693071 non-null  object
 6   timezone                     693071 non-null  object
 7   source                       693071 non-null  object
 8   destination                  693071 non-null  object
 9   cab_type                     693071 non-null  object
 10  product_id                   693071 non-null  object
 11  name                         693071 non-null  object
 12  price                        637976 non-null  float64
 13  distance                     693071 non-null  float64
 14  surge_multiplier             693071 non-null  float64
 15  latitude                     693071 non-null  float64
 16  longitude                    693071 non-null  float64
 17  temperature                  693071 non-null  float64
 18  apparentTemperature          693071 non-null  float64
 19  short_summary                693071 non-null  object
 20  long_summary                 693071 non-null  object
 21  precipIntensity              693071 non-null  float64
 22  precipProbability            693071 non-null  float64
 23  humidity                     693071 non-null  float64
 24  windSpeed                    693071 non-null  float64
 25  windGust                     693071 non-null  float64
 26  windGustTime                 693071 non-null  int64
 27  visibility                   693071 non-null  float64
 28  temperatureHigh              693071 non-null  float64
 29  temperatureHighTime          693071 non-null  int64
 30  temperatureLow               693071 non-null  float64
 31  temperatureLowTime           693071 non-null  int64
 32  apparentTemperatureHigh      693071 non-null  float64
 33  apparentTemperatureHighTime  693071 non-null  int64
 34  apparentTemperatureLow       693071 non-null  float64
 35  apparentTemperatureLowTime   693071 non-null  int64
 36  icon                         693071 non-null  object
 37  dewPoint                     693071 non-null  float64
 38  pressure                     693071 non-null  float64
 39  windBearing                  693071 non-null  int64
 40  cloudCover                   693071 non-null  float64
 41  uvIndex                      693071 non-null  int64
 42  visibility.1                 693071 non-null  float64
 43  ozone                        693071 non-null  float64
 44  sunriseTime                  693071 non-null  int64
 45  sunsetTime                   693071 non-null  int64
 46  moonPhase                    693071 non-null  float64
 47  precipIntensityMax           693071 non-null  float64
 48  uvIndexTime                  693071 non-null  int64
 49  temperatureMin               693071 non-null  float64
 50  temperatureMinTime           693071 non-null  int64
 51  temperatureMax               693071 non-null  float64
 52  temperatureMaxTime           693071 non-null  int64
 53  apparentTemperatureMin       693071 non-null  float64
 54  apparentTemperatureMinTime   693071 non-null  int64
 55  apparentTemperatureMax       693071 non-null  float64
 56  apparentTemperatureMaxTime   693071 non-null  int64
dtypes: float64(29), int64(17), object(11)
memory usage: 301.4+ MB

In [3]:
ride_share_df.describe()

,timestamp,hour,day,month,price,distance,surge_multiplier,latitude,longitude,temperature,apparentTemperature,precipIntensity,precipProbability,humidity,windSpeed,windGust,windGustTime,visibility,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,dewPoint,pressure,windBearing,cloudCover,uvIndex,visibility.1,ozone,sunriseTime,sunsetTime,moonPhase,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
count,6.930710e+05,693071.000000,693071.000000,693071.000000,637976.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,6.930710e+05,693071.000000,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,6.930710e+05,6.930710e+05,693071.000000,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05
mean,1.544046e+09,11.619137,17.794365,11.586684,16.545125,2.189430,1.013870,42.338172,-71.066151,39.584388,35.881222,0.008922,0.146076,0.741119,6.186253,8.469860,1.544049e+09,8.467970,45.040982,1.544050e+09,34.150736,1.544102e+09,41.614054,1.544050e+09,30.139824,1.544099e+09,31.656256,1010.094766,220.055853,0.686502,0.248908,8.467970,313.513635,1.544027e+09,1.544060e+09,0.579066,0.037374,1.544044e+09,33.457774,1.544042e+09,45.261313,1.544047e+09,29.731002,1.544048e+09,41.997343,1.544048e+09
std,6.891925e+05,6.948114,9.982286,0.492429,9.324359,1.138937,0.091641,0.047840,0.020302,6.726084,7.918707,0.026901,0.328938,0.138595,3.148223,5.289179,6.928244e+05,2.602888,5.996541,6.937921e+05,6.383163,6.922923e+05,7.666138,6.941699e+05,8.057468,6.927378e+05,9.142355,13.472899,99.102736,0.358534,0.474097,2.602888,27.953061,6.911393e+05,6.906634e+05,0.244705,0.055214,6.912028e+05,6.467224,6.901954e+05,5.645046,6.901353e+05,7.110494,6.871862e+05,6.936841,6.910777e+05
min,1.543204e+09,0.000000,1.000000,11.000000,2.500000,0.020000,1.000000,42.214800,-71.105400,18.910000,12.130000,0.000000,0.000000,0.380000,0.450000,0.800000,1.543151e+09,0.717000,32.680000,1.543154e+09,17.850000,1.543234e+09,22.620000,1.543187e+09,11.810000,1.543234e+09,4.390000,988.090000,2.000000,0.000000,0.000000,0.717000,269.400000,1.543147e+09,1.543181e+09,0.090000,0.000000,1.543162e+09,15.630000,1.543122e+09,33.510000,1.543154e+09,11.810000,1.543136e+09,28.950000,1.543187e+09
25%,1.543444e+09,6.000000,13.000000,11.000000,9.000000,1.280000,1.000000,42.350300,-71.081000,36.450000,31.910000,0.000000,0.000000,0.640000,3.410000,4.060000,1.543432e+09,8.432000,42.570000,1.543439e+09,30.170000,1.543489e+09,36.570000,1.543439e+09,27.700000,1.543478e+09,27.490000,999.820000,124.000000,0.370000,0.000000,8.432000,290.900000,1.543406e+09,1.543440e+09,0.300000,0.000000,1.543421e+09,30.170000,1.543399e+09,42.570000,1.543439e+09,27.760000,1.543399e+09,36.570000,1.543439e+09
50%,1.543737e+09,12.000000,17.000000,12.000000,13.500000,2.160000,1.000000,42.351900,-71.063100,40.490000,35.900000,0.000000,0.000000,0.710000,5.910000,7.550000,1.543756e+09,9.880000,44.680000,1.543788e+09,34.180000,1.543817e+09,40.950000,1.543788e+09,30.030000,1.543817e+09,30.690000,1009.250000,258.000000,0.820000,0.000000,9.880000,307.400000,1.543752e+09,1.543785e+09,0.680000,0.000400,1.543770e+09,34.240000,1.543727e+09,44.680000,1.543788e+09,30.130000,1.543745e+09,40.950000,1.543788e+09
75%,1.544828e+09,18.000000,28.000000,12.000000,22.500000,2.920000,1.000000,42.364700,-71.054200,43.580000,40.080000,0.000000,0.000000,0.880000,8.410000,11.740000,1.544846e+09,9.996000,46.910000,1.544814e+09,38.730000,1.544836e+09,44.120000,1.544818e+09,35.320000,1.544836e+09,38.120000,1021.860000,303.000000,1.000000,0.000000,9.996000,331.800000,1.544789e+09,1.544822e+09,0.790000,0.091600,1.544807e+09,38.880000,1.544789e+09,46.910000,1.544814e+09,35.710000,1.544789e+09,44.120000,1.544818e+09
max,1.545161e+09,23.000000,30.000000,12.000000,97.500000,7.860000,3.000000,42.366100,-71.033000,57.220000,57.220000,0.144700,1.000000,0.960000,15.000000,27.250000,1.545127e+09,10.000000,57.870000,1.545160e+09,46.600000,1.545221e+09,57.200000,1.545160e+09,47.250000,1.545199e+09,50.670000,1035.550000,356.000000,1.000000,2.000000,10.000000,378.900000,1.545135e+09,1.545168e+09,0.930000,0.145900,1.545152e+09,43.100000,1.545192e+09,57.870000,1.545109e+09,40.050000,1.545134e+09,57.200000,1.545109e+09

In [4]:
ride_share_df=ride_share_df[ride_share_df['source'] != ride_share_df['destination']]

In [5]:
ride_share_df['price']= ride_share_df['price'].apply(pd.to_numeric, errors='coerce')
ride_share_df['price']= ride_share_df['price'].replace({0:np.nan})
ride_share_df['distance']= ride_share_df['distance'].apply(pd.to_numeric, errors='coerce')
ride_share_df['distance']= ride_share_df['distance'].replace({0:np.nan})
ride_share_df['surge_multiplier']= ride_share_df['surge_multiplier'].apply(pd.to_numeric, errors='coerce')
ride_share_df['surge_multiplier']= ride_share_df['surge_multiplier'].replace({0:np.nan})
ride_share_df['latitude']= ride_share_df['latitude'].apply(pd.to_numeric, errors='coerce')
ride_share_df['latitude']= ride_share_df['latitude'].replace({0:np.nan})
ride_share_df['longitude']= ride_share_df['longitude'].apply(pd.to_numeric, errors='coerce')
ride_share_df['longitude']= ride_share_df['longitude'].replace({0:np.nan})

In [6]:
ride_share_df.columns[ride_share_df.isnull().any()]

Index(['price'], dtype='object')

In [7]:
ride_share_df['price'] = ride_share_df['price'].fillna(ride_share_df['price'].mean())

In [8]:
values=['price', 'distance','surge_multiplier']

linear_Data = ride_share_df[values]
linear_Data

            price  distance  surge_multiplier
0        5.000000      0.44               1.0
1       11.000000      0.44               1.0
2        7.000000      0.44               1.0
3       26.000000      0.44               1.0
4        9.000000      0.44               1.0
...           ...       ...               ...
693066  13.000000      1.00               1.0
693067   9.500000      1.00               1.0
693068  16.545125      1.00               1.0
693069  27.000000      1.00               1.0
693070  10.000000      1.00               1.0

[693071 rows x 3 columns]

In [9]:
#separate the other attributes from the predicting attribute
x = linear_Data.drop("price",axis=1)
#separte the predicting attribute into Y for model training 
y = linear_Data["price"]

In [10]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [11]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [12]:
from sklearn.ensemble import RandomForestRegressor
rfrmodel = RandomForestRegressor(n_estimators=100, random_state=101)

In [13]:
rfrmodel.fit(x_train,y_train)
rfrmodel_pred= rfrmodel.predict(x_test)

In [14]:
print("R2 score using Random Forest Regressor is", r2_score(y_test, rfrmodel_pred))
print('Mean Squared Error of Random Forest Regressor is',mean_squared_error(y_test, rfrmodel_pred))
print('Root Mean Squared Error of Random Forest Regressor is',np.sqrt(mean_squared_error(y_test, rfrmodel_pred)))

R2 score using Random Forest Regressor is 0.16304222907896126
Mean Squared Error of Random Forest Regressor is 66.90449046091328
Root Mean Squared Error of Random Forest Regressor is 8.179516517552445

## XGBOOST

In [15]:
#from xgboost import XGBClassifier
#import xgboost as xgb
from xgboost.sklearn import XGBRegressor

In [16]:
#model = xgb(eta=1, max_depth=2)
model = XGBRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
#predictions = [round(value) for value in y_pred]

In [17]:
print('R2 score of XGBoost Regressor is',r2_score(y_test,y_pred))
print('Mean Squared Error of XGBoost Regressor is',mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error of XGBoost Regressor is',np.sqrt(mean_squared_error(y_test, y_pred)))

R2 score of XGBoost Regressor is 0.16793586405338
Mean Squared Error of XGBoost Regressor is 66.51330447060352
Root Mean Squared Error of XGBoost Regressor is 8.155568923784749

## DEEP NEURAL NETWORK

In [18]:
import sys
sys.executable

'/usr/local/bin/python3'

In [19]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
import matplotlib.pyplot as plt
from keras import optimizers
from keras.layers import LeakyReLU
from sklearn.model_selection import train_test_split

In [20]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from random import randrange, uniform
pd.set_option('display.max_columns',None)
# from geopy.geocoders import Nominatim
from datetime import datetime, timedelta
from sklearn.cluster import MiniBatchKMeans, KMeans
from sklearn.model_selection import train_test_split
# import pandarallel

In [21]:
ride_share_df = pd.read_csv("rideshare_kaggle.csv")

In [22]:
ride_share_df['price'] = ride_share_df['price'].fillna(ride_share_df['price'].mean())

In [23]:
ride_share_df.source.unique()

array(['Haymarket Square', 'Back Bay', 'North End', 'North Station',
       'Beacon Hill', 'Boston University', 'Fenway', 'South Station',
       'Theatre District', 'West End', 'Financial District',
       'Northeastern University'], dtype=object)

In [24]:
ride_share_df.destination.unique()

array(['North Station', 'Northeastern University', 'West End',
       'Haymarket Square', 'South Station', 'Fenway', 'Theatre District',
       'Beacon Hill', 'Back Bay', 'North End', 'Financial District',
       'Boston University'], dtype=object)

In [25]:
ride_share_df.timezone.unique()

array(['America/New_York'], dtype=object)

In [26]:
loc_coord = {'Haymarket Square' : [42.3628, -71.0583],
             'North Station' : [42.3664, -71.0620],
             'Northeastern University' : [42.3398, -71.0892],
             'West End' : [42.4556, -75.0966],
             'South Station' : [42.3519, -71.0552],
             'Fenway' : [42.3519, -71.0552],
             'Theatre District' : [40.7590, -73.9845],
             'Beacon Hill' : [42.3588, -71.0707],
             'Back Bay' : [42.3503, -71.0810],
             'North End' : [42.3647, -71.0542],
             'Financial District' : [40.7077, -74.0083],
             'Boston University' : [42.3505, -71.1054]
}

In [27]:
src_latitude = []
src_longitude = []
dest_latitude = []
dest_longitude = []

for i in range(len(ride_share_df)):
    src_latitude.append(loc_coord[ride_share_df['source'][i]][0])
    src_longitude.append(loc_coord[ride_share_df['source'][i]][1])
    dest_latitude.append(loc_coord[ride_share_df['destination'][i]][0])
    dest_longitude.append(loc_coord[ride_share_df['destination'][i]][1])

ride_share_df['pickup_latitude'] = src_latitude
ride_share_df['pickup_longitude'] = src_longitude
ride_share_df['dropoff_latitude'] = dest_latitude
ride_share_df['dropoff_longitude'] = dest_longitude

In [28]:
rel_cols = ['datetime', 'hour', 'day', 'month', 'source', 'destination', 'distance', 'price', 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude']

In [29]:
new_data = ride_share_df[rel_cols]
new_data['datetime'] = new_data['datetime'].astype(str)

/var/folders/hb/vz6vbz055bx3tcmcwmnzdzh00000gn/T/ipykernel_10900/1377506441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['datetime'] = new_data['datetime'].astype(str)

In [30]:
new_data.head(5)

,datetime,hour,day,month,source,destination,distance,price,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,2018-12-16 09:30:07,9,16,12,Haymarket Square,North Station,0.44,5.0,42.3628,-71.0583,42.3664,-71.062
1,2018-11-27 02:00:23,2,27,11,Haymarket Square,North Station,0.44,11.0,42.3628,-71.0583,42.3664,-71.062
2,2018-11-28 01:00:22,1,28,11,Haymarket Square,North Station,0.44,7.0,42.3628,-71.0583,42.3664,-71.062
3,2018-11-30 04:53:02,4,30,11,Haymarket Square,North Station,0.44,26.0,42.3628,-71.0583,42.3664,-71.062
4,2018-11-29 03:49:20,3,29,11,Haymarket Square,North Station,0.44,9.0,42.3628,-71.0583,42.3664,-71.062

In [31]:
df_train = new_data.sample(frac=0.8,random_state=200)
df_test = new_data.drop(df_train.index, axis=0)

In [32]:
df_test1 = df_test.copy(deep = True)

In [33]:
df_train, df_validation = train_test_split(df_train, test_size=0.10, random_state=1)

In [34]:
validation_target = df_validation['price'].values

In [35]:
def clean_dataframe(df):
        
    df = df[(df['dropoff_longitude'] != df['pickup_longitude'])]
    df = df[(df['dropoff_latitude'] != df['pickup_latitude'])]
    
    return df
  
    
def distance(pickup_lat, pickup_long, dropoff_lat, dropoff_long):
    return np.abs(dropoff_lat - pickup_lat) + np.abs(dropoff_long - pickup_long)   
    
def add_features(df):
    plat = df['pickup_latitude']
    dlat = df['dropoff_latitude']
    plon = df['pickup_longitude']
    dlon = df['dropoff_longitude']


    df['latitude_diff'] = (plat - dlat)
    df['longitude_diff'] = (plon - dlon)
    
    df['datetime'] = df['datetime'].str.slice(0, 16)
    df['datetime'] = pd.to_datetime(df['datetime'], utc=True, format='%Y-%m-%d %H:%M')
    
    df['hour'] = df['datetime'].dt.hour
    df['day'] = df['datetime'].dt.day
    df['month'] = df['datetime'].dt.month
    df['year'] = df['datetime'].dt.year
    df['weekday'] = df['datetime'].dt.weekday
    df['quarter_of_year'] = df['datetime'].dt.quarter
    
    lgr = (-73.8733, 40.7746)
    jfk = (-73.7900, 40.6437)
    ewr = (-74.1843, 40.6924)

    df['trip_distance_km'] = distance(df.pickup_latitude, df.pickup_longitude, df.dropoff_latitude, df.dropoff_longitude)   
    df['pickup_distance_jfk'] = distance(df['pickup_latitude'], df['pickup_longitude'], jfk[1], jfk[0])
    df['dropoff_distance_jfk'] = distance(df['dropoff_latitude'], df['dropoff_longitude'], jfk[1], jfk[0])
    df['pickup_distance_ewr'] = distance(df['pickup_latitude'], df['pickup_longitude'], ewr[1], ewr[0])
    df['dropoff_distance_ewr'] = distance(df['dropoff_latitude'], df['dropoff_longitude'], ewr[1], ewr[0])
    df['pickup_distance_laguardia'] = distance(df['pickup_latitude'], df['pickup_longitude'], lgr[1], lgr[0])
    df['dropoff_distance_laguardia'] = distance(df['dropoff_latitude'], df['dropoff_longitude'], lgr[1], lgr[0]) 
    
    return df


df_train = clean_dataframe(df_train)
df_validation = clean_dataframe(df_validation)
df_train = add_features(df_train)
df_validation = add_features(df_validation)
df_test = add_features(df_test)


print(df_train.corrwith(df_train['price']))


paratest = df_test[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','latitude_diff','longitude_diff','trip_distance_km','pickup_distance_ewr','dropoff_distance_ewr','pickup_distance_laguardia','dropoff_distance_laguardia']]
para = df_train[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','latitude_diff','longitude_diff','trip_distance_km','pickup_distance_ewr','dropoff_distance_ewr','pickup_distance_laguardia','dropoff_distance_laguardia']]
paraval = df_validation[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','latitude_diff','longitude_diff','trip_distance_km','pickup_distance_ewr','dropoff_distance_ewr','pickup_distance_laguardia','dropoff_distance_laguardia']]

target = df_train.price
validation_target = df_validation.price
test_price = df_test.price

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_train = scaler.fit_transform(para)
df_validation = scaler.transform(paraval)
df_test = scaler.transform(paratest)

hour                          0.000276
day                          -0.000473
month                         0.000923
distance                      0.330834
price                         1.000000
pickup_latitude              -0.042255
pickup_longitude             -0.019843
dropoff_latitude             -0.023893
dropoff_longitude            -0.009943
latitude_diff                -0.011937
longitude_diff               -0.006080
year                               NaN
weekday                       0.001783
quarter_of_year                    NaN
trip_distance_km              0.034880
pickup_distance_jfk          -0.038230
dropoff_distance_jfk         -0.021088
pickup_distance_ewr          -0.036111
dropoff_distance_ewr         -0.019814
pickup_distance_laguardia    -0.037267
dropoff_distance_laguardia   -0.020163
dtype: float64

In [36]:
n_col = para.shape[1]
print(n_col)

from keras.layers import BatchNormalization
from keras.layers.advanced_activations import LeakyReLU

import keras.backend as K

def rmse (y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))


def model() :   #Created a Model using Keras
    model = Sequential()
    model.add(Dropout(0.2,input_shape=(n_col,)))
    model.add(BatchNormalization())
    model.add(Dense(512,activation='relu'))#512 neurons in input layer
    model.add(Dropout(0.2))
    model.add(BatchNormalization())
    model.add(Dense(256,activation='relu')) #256 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(128,activation='relu'))  # 128 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(64,activation='relu'))   # 64 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(32,activation='relu'))   # 32 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(16,activation='relu')) # 16 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(8,activation='relu')) # 8 neurons in hidden layer
    model.add(BatchNormalization())
    model.add(Dense(1)) # 1 neuron in output layer
    
    #nadam = optimizers.Nadam(lr=0.002, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.004)
    #adadelta =optimizers.Adadelta(lr=1.0, rho=0.95, epsilon=None, decay=0.0)
    #adgrad = optimizers.Adagrad(lr=0.001, epsilon=None, decay=0.0)
    #rms = optimizers.RMSprop(lr=0.001, rho=0.9, epsilon=None, decay=0.0)
    
    #sgd = optimizers.SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True,clipnorm=0.5)
    adam = tf.keras.optimizers.Adam(learning_rate=0.001)
    model.compile(optimizer=adam,loss='mean_squared_error', metrics=[rmse])
    return model


model = model()
estimator = model.fit(x=para,y=target, batch_size=1024, epochs = 3, 
                    verbose=1, validation_data=(paraval,validation_target), 
                    shuffle=True)
score = model.evaluate(paratest, test_price, batch_size = 1024)

11

2021-12-11 19:49:20.278032: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Epoch 1/3
488/488 [==============================] - 32s 59ms/step - loss: 291.4621 - rmse: 14.4555 - val_loss: 199.5574 - val_rmse: 11.0511
Epoch 2/3
488/488 [==============================] - 24s 50ms/step - loss: 131.6613 - rmse: 8.3800 - val_loss: 89.0292 - val_rmse: 7.0471
Epoch 3/3
488/488 [==============================] - 26s 54ms/step - loss: 81.9677 - rmse: 6.9641 - val_loss: 79.6678 - val_rmse: 6.9817
136/136 [==============================] - 1s 9ms/step - loss: 79.5685 - rmse: 6.9667

In [37]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dropout (Dropout)           (None, 11)                0

 batch_normalization (BatchN  (None, 11)               44
 ormalization)

 dense (Dense)               (None, 512)               6144

 dropout_1 (Dropout)         (None, 512)               0

 batch_normalization_1 (Batc  (None, 512)              2048
 hNormalization)

 dense_1 (Dense)             (None, 256)               131328

 batch_normalization_2 (Batc  (None, 256)              1024
 hNormalization)

 dense_2 (Dense)             (None, 128)               32896

 batch_normalization_3 (Batc  (None, 128)              512
 hNormalization)

 dense_3 (Dense)             (None, 64)                8256

 batch_normalization_4 (Batc  (None, 64)               256
 hNormalization)

 dense_4 (Dense)             (None, 32)                2080

 batch_normalization_5 (Batc  (None, 32)               128
 hNormalization)

 dense_5 (Dense)             (None, 16)                528

 batch_normalization_6 (Batc  (None, 16)               64
 hNormalization)

 dense_6 (Dense)             (None, 8)                 136

 batch_normalization_7 (Batc  (None, 8)                32
 hNormalization)

 dense_7 (Dense)             (None, 1)                 9

=================================================================
Total params: 185,485
Trainable params: 183,431
Non-trainable params: 2,054
_________________________________________________________________

In [38]:
pred_y = model.predict(paratest)

df_test1['pred'] = pred_y
submission = pd.DataFrame(
    {'datetime': df_test1.datetime, 'price': df_test1.pred},
    columns = ['datetime', 'price'])
#submission.to_csv('submission_DNN.csv', index = False)

In [39]:
submission.head(4)

              datetime      price
0  2018-12-16 09:30:07  15.899604
2  2018-11-28 01:00:22  15.899604
8  2018-12-03 06:28:02  15.898896
9  2018-11-27 10:45:22  15.898896