In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
import joblib

In [ ]:
ride_share_df = pd.read_csv("/content/drive/MyDrive/ML Project/rideshare_kaggle.csv")

In [ ]:
ride_share_df.head()

                                     id  ...  apparentTemperatureMaxTime
0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7  ...                  1544958000
1  4bd23055-6827-41c6-b23b-3c491f24e74d  ...                  1543251600
2  981a3613-77af-4620-a42a-0c0866077d1e  ...                  1543320000
3  c2d88af2-d278-4bfd-a8d0-29ca77cc5512  ...                  1543510800
4  e0126e1f-8ca9-4f2e-82b3-50505a09db9a  ...                  1543420800

[5 rows x 57 columns]

In [ ]:
# ride_share_df.info()

In [ ]:
# ride_share_df.describe()

In [ ]:
ride_share_df.columns[ride_share_df.isnull().any()]

Index(['price'], dtype='object')

In [ ]:
ride_share_df['price'] = ride_share_df['price'].fillna(ride_share_df['price'].mean())

In [ ]:
ride_share_df.source.unique()

array(['Haymarket Square', 'Back Bay', 'North End', 'North Station',
       'Beacon Hill', 'Boston University', 'Fenway', 'South Station',
       'Theatre District', 'West End', 'Financial District',
       'Northeastern University'], dtype=object)

In [ ]:
loc_coord = {'Haymarket Square' : [42.3628, -71.0583],
             'North Station' : [42.3664, -71.0620],
             'Northeastern University' : [42.3398, -71.0892],
             'West End' : [42.4556, -75.0966],
             'South Station' : [42.3519, -71.0552],
             'Fenway' : [42.3519, -71.0552],
             'Theatre District' : [40.7590, -73.9845],
             'Beacon Hill' : [42.3588, -71.0707],
             'Back Bay' : [42.3503, -71.0810],
             'North End' : [42.3647, -71.0542],
             'Financial District' : [40.7077, -74.0083],
             'Boston University' : [42.3505, -71.1054]
}

In [ ]:
src_latitude = []
src_longitude = []
dest_latitude = []
dest_longitude = []

for i in range(len(ride_share_df)):
    src_latitude.append(loc_coord[ride_share_df['source'][i]][0])
    src_longitude.append(loc_coord[ride_share_df['source'][i]][1])
    dest_latitude.append(loc_coord[ride_share_df['destination'][i]][0])
    dest_longitude.append(loc_coord[ride_share_df['destination'][i]][1])

ride_share_df['pickup_latitude'] = src_latitude
ride_share_df['pickup_longitude'] = src_longitude
ride_share_df['dropoff_latitude'] = dest_latitude
ride_share_df['dropoff_longitude'] = dest_longitude

In [ ]:
rel_cols = ['datetime', 'hour', 'day', 'month', 'source', 'destination', 'distance', 'price', 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude']

In [ ]:
new_ride_share = ride_share_df[rel_cols]
new_ride_share['datetime'] = new_ride_share['datetime'].astype(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
new_ride_share

                   datetime  hour  ...  dropoff_latitude  dropoff_longitude
0       2018-12-16 09:30:07     9  ...           42.3664           -71.0620
1       2018-11-27 02:00:23     2  ...           42.3664           -71.0620
2       2018-11-28 01:00:22     1  ...           42.3664           -71.0620
3       2018-11-30 04:53:02     4  ...           42.3664           -71.0620
4       2018-11-29 03:49:20     3  ...           42.3664           -71.0620
...                     ...   ...  ...               ...                ...
693066  2018-12-01 23:53:05    23  ...           42.3647           -71.0542
693067  2018-12-01 23:53:05    23  ...           42.3647           -71.0542
693068  2018-12-01 23:53:05    23  ...           42.3647           -71.0542
693069  2018-12-01 23:53:05    23  ...           42.3647           -71.0542
693070  2018-12-01 23:53:05    23  ...           42.3647           -71.0542

[693071 rows x 12 columns]

In [ ]:
# values=['price', 'distance','surge_multiplier']
# ride_share_df_ds = ride_share_df.loc[:,values]

In [ ]:
# linear_Data = ride_share_df[values]
# linear_Data

            price  distance  surge_multiplier
0        5.000000      0.44               1.0
1       11.000000      0.44               1.0
2        7.000000      0.44               1.0
3       26.000000      0.44               1.0
4        9.000000      0.44               1.0
...           ...       ...               ...
693066  13.000000      1.00               1.0
693067   9.500000      1.00               1.0
693068  16.545125      1.00               1.0
693069  27.000000      1.00               1.0
693070  10.000000      1.00               1.0

[693071 rows x 3 columns]

In [ ]:
#separate the other attributes from the predicting attribute
x = new_ride_share.drop("price",axis=1)
#separte the predicting attribute into Y for model training 
y = new_ride_share["price"]

In [ ]:
from sklearn import  preprocessing
label_encoder = preprocessing.LabelEncoder()
for i in x.columns:
  x[i] = label_encoder.fit_transform(x[i])

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
x = pd.DataFrame(StandardScaler().fit_transform(x),columns = x.columns)

In [ ]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV

In [ ]:
k_range = []
for i in range(50):
  k_range.append(i)

In [ ]:
param_grid = dict(n_neighbors=k_range)

In [ ]:
grid = GridSearchCV(KNeighborsRegressor(), param_grid)

In [ ]:
grid.fit(x_train,y_train)

In [ ]:
# filename = 'grid_ML_KNN.pkl'
# path = F"/content/drive/MyDrive/ML Project/{filename}" 
# joblib.dump(grid,path)

['/content/drive/MyDrive/ML Project/grid_ML_KNN.pkl']

In [ ]:
joblib_grid = joblib.load("/content/drive/MyDrive/ML Project/grid_ML_KNN.pkl")

In [ ]:
grid.best_params_

{'n_neighbors': 39}

In [ ]:
neigh = KNeighborsRegressor(n_neighbors=39)

In [ ]:
neigh.fit(x_train, y_train)

KNeighborsRegressor(n_neighbors=39)

In [ ]:
y_pred_sk_train = neigh.predict(x_train)

In [ ]:
y_pred_sk_train

In [ ]:
y_train

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

print('R2 score of KNN Regressor(Training) is',r2_score(y_train,y_pred_sk_train))
print('Mean Squared Error of KNN Regressor(Training) is',mean_squared_error(y_train,y_pred_sk_train))
print('Root Mean Squared Error of KNN Regressor(Training) is',np.sqrt(mean_squared_error(y_train,y_pred_sk_train)))

R2 score of KNN Regressor(Training) is 0.1375868820430025
Mean Squared Error of KNN Regressor(Training) is 69.04071175926991
Root Mean Squared Error of KNN Regressor(Training) is 8.30907406148663

In [ ]:
y_pred_sk_test = neigh.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

print('R2 score of KNN Regressor(Testing) is',r2_score(y_test,y_pred_sk_test))
print('Mean Squared Error of KNN Regressor(Testing) is',mean_squared_error(y_test,y_pred_sk_test))
print('Root Mean Squared Error of KNN Regressor(Testing) is',np.sqrt(mean_squared_error(y_test,y_pred_sk_test)))

R2 score of KNN Regressor(Testing) is 0.09264460177200662
Mean Squared Error of KNN Regressor(Testing) is 72.53191582007565
Root Mean Squared Error of KNN Regressor(Testing) is 8.516567138235667